.Recipes {
    margin-bottom: 30px;
}

.Recipes .Recipe span {
    font-weight: bold;
}

.Recipes .Recipe {
    padding: 30px 10px;
}

/* .Recipes .Recipe div {
    padding: 3px 0;
} */
.RecipeImg {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 30px;
}

.Recipes .Recipe .Ingredients {
    float: right;
    width: max(40%, 230px);
    margin: 30px;
    padding: 30px;

    background-color: beige;
}

.clearfix {
    clear: both;
}

.Recipes .Recipe .Ingredients>span{
    display: block;
    margin-bottom: 20px;
}

.Recipes .Recipe .Ingredient {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px 0;

    color: dimgrey;
    font-weight: bold;
    font-size: 14px;
}

.Recipes .DashedSpace {
    border-bottom: 1px dotted dimgrey;
    flex: 1 1;
    height: 1px;
    margin: 0 7px;
    position: relative;
    top: 15px;
}

.Ingredients{
    position: relative;
}

.paper-clip {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    right: 50%;
    transform: translate(50%, -60%);
}