.MealCategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.category-item {
    position: relative;
    width: 300px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);

    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.category-item:hover {
    transform: scale(1.05);
}

.category-item .img {
    height: 150px;
    overflow: hidden;

    display: flex;
    align-items: center;
}

.category-item .img img {
    width: 100%;
}

.category-item .title {
    height: 100px;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.category-item:hover {
    box-shadow: 5px 5px 10px rgba(239, 133, 3, 0.3);
    color: rgb(255, 140, 0);
}